$border_color: #B6B6B6
$menu_background: #BDD2FF
$menu_color: black
$content_background: white
$outside_background: #f1ede9
$board_col1: #92D6BD
$board_col2: #B9FFE0
$note_col1: #B9E0F5
$note_col2: #92BDE6
$user_col1: #ddc814
$user_col2: #f7e832
$context_col1: #8e5151
$context_col2: #dc7a7a

@mixin notes-background
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from($note_col1), to($note_col2))
  background-image: -moz-linear-gradient(50% 0%, $note_col1, $note_col2)

@mixin boards-background
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from($board_col1), to($board_col2))
  background-image: -moz-linear-gradient(50% 0%, $board_col1, $board_col2)

@mixin users-background
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from($user_col1), to($user_col2))
  background-image: -moz-linear-gradient(50% 0%, $user_col1, $user_col2)

@mixin contexts-background
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from($context_col1), to($context_col2))
  background-image: -moz-linear-gradient(50% 0%, $context_col1, $context_col2)

@mixin main-h1
  text-align: left
  clear: both
  margin:
    left: 30px
    right: 30px
  padding:
    left: 30px
  a, a:visited
    color: $menu_color

// document
body
  background-color: $outside_background
  font:
    size: 15px
    family: Verdana, Arial, SunSans-Regular, Sans-Serif

// header
.nbheader
  width: 100%
  clear: both
  display: inline-block
  margin-bottom: 0px
  h1
    @include main-h1
    background-color: $content_background

h1.nbhboard
  @include main-h1
  @include boards-background

h1.nbhuser
  @include main-h1
  @include users-background

h1.nbhcontext
  @include main-h1
  @include contexts-background

.nbdesc
  display: inline-block
  margin-left: 20px

.nbnotice
  color: green

.nbalert
  color: red

// content
.nbcontent
  width: 100%
  display: inline-block
  clear: both

.nbmiddle
  width: 70%
  text-align: center
  font-size: large
  background-color: $content_background
  border: 1px $border_color solid
  padding: 20px

.nbleft 
  border: 1px black none
  display: inline
  float: left
  width: 230px
  padding: 0px
  margin: 0px

.nbcontrols
  padding: 10px
  background-color: $content_background
  margin:
    left: 10px
    right: 10px
    top: 5px
    bottom: 5px
  border: 1px $border_color solid

.nbctrlbtn
  padding: 10px
  text-align: center
  margin:
    left: 10px
    right: 10px
    top: 5px
    bottom: 5px

.nbcontrols h2, .nbcontrols h3
  margin: 0px
  text-align: center

.nbright 
  margin-right: 20px
  overflow: auto

.nbprivlist
  font-size: 10px

// footer
.nbfooter 
  width: 100%
  text-align: center
  font-size: 5px
  clear: both
  display: inline-block
  margin: 5px

// sign in form
.nbsignin
  width: 70%
  margin-left: 70px
  padding-left: 70px
  text-align: left
  font-size: large
  background-color: $content_background
  border: 1px $border_color solid
  padding: 20px

// note
.nbicon 
  -moz-border:
    bottom-colors: none
    image: none
    left-colors: none
    right-colors: none
    top-colors: none
  border:
    bottom:
      color: $border_color
      style: solid
      width: 1px
      left-radius: 3px
      right-radius: 3px
    top:
      color: $border_color
      style: solid
      width: 1px
      left-radius: 3px
      right-radius: 3px
    left:
      color:
        ltr-source: physical
        rtl-source: physical
        value: $border_color
      style:
        ltr-source: physical
        rtl-source: physical
        value: solid
      width:
        ltr-source: physical
        rtl-source: physical
        value: 1px
    right:
      color:
        ltr-source: physical
        rtl-source: physical
        value: $border_color
      style:
        ltr-source: physical
        rtl-source: physical
        value: solid
      width:
        ltr-source: physical
        rtl-source: physical
        value: 1px
  background:
    color: #EDEDED
    image: -moz-linear-gradient(center top , #EDEDED, #C4C4C4)
  height: 16px
  width: 18px
  float: left
  margin: 4px

.nbiconbox
  list-style-type: none
  position: relative
  left: -45px
  float: left

.nbchange
  font:
    style: normal
    size: smaller

.nbchangeauto
  font:
    style: italic
    size: smaller

.nbchangecomment
  font:
    style: normal
    weight: bolder
    size: medium


.nbnoteinstant
  background-color: #FFDFDF
  padding:
    left: 10px
    right: 10px
    top: 2px
    bottom: 2px        
  margin-right: 10px

.nbtitleactive
  font-style: normal

.nbtitlearchived
  font:
    style: italic
    size: smaller

// priorities
.nbpriosuper
  color: red
  font:
    weight: bolder
    size: larger
  background-color: #FFDFDF
  padding:
    left: 10px
    right: 10px     
    top: 2px     
    bottom: 2px        
  border: 1px black dotted
  margin-right: 10px

.nbpriohigh
  color: red
  font:
    weight: bolder
    size: larger

.nbprionormal
  font:
    weight: bolder
    size: larger

.nbpriolow
  font:
    weight: normal
    size: larger

// note history
.nbnote
  display: inline
  p
    clear: both

.nbnotecont
  width: 45%
  float: left
  padding: 5px
  div
    border-top: 1px $border_color dotted

.nbnotehist
  width: 45%
  float: right
  border-left: 1px $border_color dotted
  padding-left: 10px

.nbnoteicon 
  float: left
  margin-right: 5px

.nbselect 
  float: left
  margin:
    top: 15px
    left: 5px

.nbleftcol
  width: 50%
  margin: 10px
  display: inline
  float: left
  clear: all

.nbrightcol
  margin: 10px
  float: left
  clear: all

// table
th
  padding: 7px
  background-color: $menu_background
  font-size: 9px

tr:hover
  background-color: $menu_background

th:hover
  background-color: $content_background

// superfish menu override:
.sf-menu
  //font:
    //weight: bolder
    //size: larger
  margin-right: 20px
  a, a:visited
    color: black
    padding: 7px
  li li
    background-color: $menu_background
    li
      background-color: $menu_background
  li.sfHover ul
    top: 34px
  ul.nbwider
    width: 30em

.nbmenumgmt
  font:
    style: italic

.nbmenuactive
  color: black

.nbmenuhidden
  color: gray

// dialog (x) override
.ui-dialog-titlebar a.ui-dialog-titlebar-close
  display: none

// dialog buttons
#submitButton, #cancelButton
  margin:
    left: 10px
    top: 15px

// dialog elements
textarea
  min-width: 95%
  min-height: 95%
  padding: 3px
  border: none

// small font listings
.nbfineprint
  font:
    size: 11px

div.actions
  clear: both

// distinct
.nb-notes-content .ui-state-default
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#929DC3))
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #929DC3)

.nb-notes-content .ui-state-active
  @include notes-background

.nb-boards-content .ui-state-default
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#B9D5C0))
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #B9D5C0)

.nb-boards-content .ui-state-active
  @include boards-background

.nb-users-content .ui-state-default
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#d7d842))
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #d7d842)

.nb-users-content .ui-state-active
  @include users-background

.nb-contexts-content .ui-state-default
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#dc8a8a))
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #dc8a8a)

.nb-contexts-content .ui-state-active
  @include contexts-background
