body {
  background-color: #f1ede9;
  font-size: 15px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif; }

.nbheader {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom: 0px; }
  .nbheader h1 {
    text-align: left;
    clear: both;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    background-color: white; }

h1.nbhboard {
  text-align: left;
  clear: both;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#92d6bd), to(#b9ffe0));
  background-image: -moz-linear-gradient(50% 0%, #92d6bd, #b9ffe0); }

h1.nbhuser {
  text-align: left;
  clear: both;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ddc814), to(#f7e832));
  background-image: -moz-linear-gradient(50% 0%, #ddc814, #f7e832); }

h1.nbhcontext {
  text-align: left;
  clear: both;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#8e5151), to(#dc7a7a));
  background-image: -moz-linear-gradient(50% 0%, #8e5151, #dc7a7a); }

.nbdesc {
  display: inline-block;
  margin-left: 20px; }

.nbnotice {
  color: green; }

.nbalert {
  color: red; }

.nbcontent {
  width: 100%;
  display: inline-block;
  clear: both; }

.nbmiddle {
  width: 70%;
  text-align: center;
  font-size: large;
  background-color: white;
  border: 1px #b6b6b6 solid;
  padding: 20px; }

.nbleft {
  border: 1px black none;
  display: inline;
  float: left;
  width: 230px;
  padding: 0px;
  margin: 0px; }

.nbcontrols {
  padding: 10px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px #b6b6b6 solid; }

.nbctrlbtn {
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px; }

.nbcontrols h2, .nbcontrols h3 {
  margin: 0px;
  text-align: center; }

.nbright {
  margin-right: 20px;
  overflow: auto; }

.nbprivlist {
  font-size: 10px; }

.nbfooter {
  width: 100%;
  text-align: center;
  font-size: 5px;
  clear: both;
  display: inline-block;
  margin: 5px; }

.nbsignin {
  width: 70%;
  margin-left: 70px;
  padding-left: 70px;
  text-align: left;
  font-size: large;
  background-color: white;
  border: 1px #b6b6b6 solid;
  padding: 20px; }

.nbicon {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-color: #b6b6b6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-color: #b6b6b6;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #b6b6b6;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 1px;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #b6b6b6;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: solid;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 1px;
  background-color: #ededed;
  background-image: -moz-linear-gradient(center top, #ededed, #c4c4c4);
  height: 16px;
  width: 18px;
  float: left;
  margin: 4px; }

.nbiconbox {
  list-style-type: none;
  position: relative;
  left: -45px;
  float: left; }

.nbchange {
  font-style: normal; }

.nbchangeauto {
  font-style: italic; }

.nbnoteinstant {
  background-color: #ffdfdf;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 10px; }

.nbpriosuper {
  color: red;
  font-weight: bolder;
  font-size: larger;
  background-color: #ffdfdf;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px black dotted;
  margin-right: 10px; }

.nbpriohigh {
  color: red;
  font-weight: bolder;
  font-size: larger; }

.nbprionormal {
  font-weight: bolder;
  font-size: larger; }

.nbpriolow {
  font-weight: normal;
  font-size: larger; }

.nbnote {
  display: inline; }
  .nbnote p {
    clear: both; }

.nbnotecont {
  width: 45%;
  float: left;
  padding: 5px; }
  .nbnotecont div {
    border-top: 1px #b6b6b6 dotted; }

.nbnotehist {
  width: 45%;
  float: right;
  border-left: 1px #b6b6b6 dotted;
  padding-left: 10px; }

.nbnoteicon {
  float: left;
  margin-right: 5px; }

.nbselect {
  float: left;
  margin-top: 15px;
  margin-left: 5px; }

.nbleftcol {
  width: 30%;
  margin: 10px;
  display: inline;
  float: left;
  clear: all; }

.nbrightcol {
  margin: 10px;
  float: left;
  clear: all; }

th {
  padding: 7px;
  background-color: #bdd2ff;
  font-size: 7px; }

tr:hover {
  background-color: #bdd2ff; }

th:hover {
  background-color: white; }

.sf-menu {
  font-weight: bolder;
  font-size: larger;
  margin-right: 30px; }
  .sf-menu a, .sf-menu a:visited {
    color: black; }
  .sf-menu li li {
    background-color: #bdd2ff; }
    .sf-menu li li li {
      background-color: #bdd2ff; }

.ui-dialog-titlebar a.ui-dialog-titlebar-close {
  display: none; }

#submitButton, #cancelButton {
  margin-left: 10px;
  margin-top: 15px; }

.nb-notes-content .ui-state-default {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#929dc3));
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #929dc3); }

.nb-notes-content .ui-state-active {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b9e0f5), to(#92bde6));
  background-image: -moz-linear-gradient(50% 0%, #b9e0f5, #92bde6); }

.nb-boards-content .ui-state-default {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#b9d5c0));
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #b9d5c0); }

.nb-boards-content .ui-state-active {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#92d6bd), to(#b9ffe0));
  background-image: -moz-linear-gradient(50% 0%, #92d6bd, #b9ffe0); }

.nb-users-content .ui-state-default {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#d7d842));
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #d7d842); }

.nb-users-content .ui-state-active {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ddc814), to(#f7e832));
  background-image: -moz-linear-gradient(50% 0%, #ddc814, #f7e832); }

.nb-contexts-content .ui-state-default {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#b2b2b2), to(#dc8a8a));
  background-image: -moz-linear-gradient(50% 0%, #b2b2b2, #dc8a8a); }

.nb-contexts-content .ui-state-active {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#8e5151), to(#dc7a7a));
  background-image: -moz-linear-gradient(50% 0%, #8e5151, #dc7a7a); }
