<% content_for :head do %>
  <script type="text/javascript">
     function specificInit() {
       bindSelects();
     }
  </script>
<% end %>
<% content_for :nbheader do %>
       <h1><%= t :board %></h1>
<% end %>

 <div id="accordion"  class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons nb-boards-content" >
     
       <%= render :partial => 'boards/board' %>

 </div>
